<footer class="bg-black text-white">

    <!-- TOP -->
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-10 px-10 py-8">

        <!-- Columna 1 -->
        <div class="flex flex-col gap-3">
            <img src="../img/logofooter.png" class="w-40">
            <p>Av. La Marina 4534 San Miguel, Lima Perú</p>
            <p>Teléfono: +51-3453457</p>
            <p>Correo: info@ideasdigitales.com</p>
        </div>

        <!-- Columna 2 -->
        <div class="flex flex-col gap-2">
            <h2 class="font-semibold text-lg">Nuestros Products</h2>
            <ul class="space-y-1">
                <li><a href="#" class="hover:text-red-500">Pollos a la brasa</a></li>
                <li><a href="#" class="hover:text-red-500">Ensaladas</a></li>
                <li><a href="#" class="hover:text-red-500">Parrilleros</a></li>
                <li><a href="#" class="hover:text-red-500">Adicionales</a></li>
                <li><a href="#" class="hover:text-red-500">Bebidas</a></li>
                <li><a href="#" class="hover:text-red-500">Postres</a></li>
            </ul>
        </div>

        <!-- Columna 3 -->
        <div class="flex flex-col gap-2">
            <h2 class="font-semibold text-lg">Política de Uso</h2>
            <ul class="space-y-1">
                <li><a href="#" class="hover:text-red-500">Política de Devoluciones</a></li>
                <li><a href="#" class="hover:text-red-500">Envíos</a></li>
                <li><a href="#" class="hover:text-red-500">Preguntas Frecuentes</a></li>
                <li><a href="#" class="hover:text-red-500">Contacto</a></li>
            </ul>
        </div>

        <!-- Columna 4 -->
        <div class="flex flex-col gap-4">

            <!-- Libro -->
            <div>
                <a href="libroreclamaciones.html">
                    <i class="fa-solid fa-book-open text-3xl hover:text-red-500 transition"></i>
                </a>
                <h2 class="mt-2">Libro de reclamaciones</h2>
            </div>

            <!-- Redes -->
            <div>
                <h2 class="mb-2">Síguenos</h2>

                <div class="flex gap-4">

                    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full bg-white text-black hover:bg-red-600 hover:text-white border-2 border-transparent  transition">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full bg-white text-black hover:bg-red-600 hover:text-white border-2 border-transparent  transition">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full bg-white text-black hover:bg-red-600 hover:text-white border-2 border-transparent  transition">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                    <a href="#" class="w-10 h-10 flex items-center justify-center rounded-full bg-white text-black hover:bg-red-600 hover:text-white border-2 border-transparent  transition">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>

                </div>
            </div>

        </div>

    </div>

    <!-- BOTTOM -->
    <div class="bg-gray-100 text-black text-center py-4 border-t">
        © 2026 KidsStyle. Todos los derechos reservados.
    </div>

</footer>