<header class="w-full shadow">

    <!-- Barra negra -->
    <div class="w-full bg-black text-white text-center text-md py-1">
       <!-- <p class="anim-fade"> -->
        <p class="slide-text">
        Envío gratuito por compras mayores a S/150 para Lima Metropolitana
        </p>
    </p>
    </div>

    <!-- Contenedor -->
    <div class="w-full flex items-center justify-between px-10 py-1 gap-6">

        <img src="../img/logoheader.png" class="h-20 w-auto object-contain">


    <nav class="flex gap-6 text-base md:text-lg font-medium  items-center">

    <a href="../vista/home.html" class="px-3 py-2 rounded hover:bg-red-500 hover:text-white transition">Inicio</a>
    <a href="../vista/promociones.html" class="px-3 py-2 rounded hover:bg-red-500 hover:text-white transition">Promociones</a>

    <!-- CATEGORÍA -->
    <div class="relative group">
        <a href="#" class="px-3 py-2 rounded hover:bg-red-500 hover:text-white transition">
            Categoría
        </a>

        <!-- MEGA MENU -->
        <div class="absolute left-0 top-full w-screen bg-white shadow-lg hidden group-hover:block z-50">

            <div class="max-w-7xl mx-auto flex gap-10 p-10">

                <!-- Imagen -->
                <div class="w-[250px]">
                    <img src="../img/megamenu.png" class="w-full rounded-lg object-cover">
                </div>

                <!-- Columnas -->
                <div class="flex gap-12">

                    <div class="flex flex-col">
                        <h2 class="text-lg font-bold text-red-500 mb-2">Pollo a la brasa</h2>
                        <a href="#" class="hover:text-red-500">1/4 Pollo</a>
                        <a href="#" class="hover:text-red-500">1/2 Pollo</a>
                        <a href="#" class="hover:text-red-500">1 Pollo entero</a>
                    </div>

                    <div class="flex flex-col">
                        <h2 class="text-lg font-bold text-red-500 mb-2">Ensaladas</h2>
                        <a href="#" class="hover:text-red-500">Fresca</a>
                        <a href="#" class="hover:text-red-500">Cocida</a>
                        <a href="#" class="hover:text-red-500">Especial</a>
                    </div>

                    <div class="flex flex-col">
                        <h2 class="text-lg font-bold text-red-500 mb-2">Bebidas</h2>
                        <a href="#" class="hover:text-red-500">Gaseosas</a>
                        <a href="#" class="hover:text-red-500">Jugos</a>
                    </div>

                    <div class="flex flex-col">
                        <h2 class="text-lg font-bold text-red-500 mb-2">Postres</h2>
                        <a href="#" class="hover:text-red-500">Helados</a>
                        <a href="#" class="hover:text-red-500">Tortas</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</nav>

    <div class="flex items-center border rounded-full px-4 py-1 w-[450px]">
        <input type="text" class="w-full outline-none text-sm" placeholder="Buscar...">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="flex gap-4 text-xl ">
       <a href="../vista/login.html" class="hover:text-red-500 transition"> <ion-icon name="person-outline"></ion-icon></a>
        <a href="" class="hover:text-red-500 transition"> <ion-icon name="heart-outline"></ion-icon></a>
        <a href="" class="hover:text-red-500 transition"> <ion-icon name="bag-outline"></ion-icon></a>
    </div>

</div>
<script src="https://cdn.tailwindcss.com"></script>